{% extends 'main/layout.html' %}
{% block title %}My Lists{% endblock %}

{% block main %}
<h1>My Lists</h1>

{% if lists %}
<table class='table ph-3 bg-light table-striped'>
    <thead>
        <tr>
            <th scope="col">List Name</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for list in lists %}
            <tr class='p-3'>
                <td class='name'><a href="/list/{{ list.id }}">{{ list.title }}</a></td>
                {% if list.public %}
                <td style="color: green">Public</td>
                {% else %}
                <td style="color: red">Private</td>
                {% endif %}
                <td class='pr-3' style="max-width: 60px">
                    <form method="GET" action="/delete/{{ list.id }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
                
            <tr class='p-3'>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>You have no lists yet.</p>
{% endif %}

{% endblock %}