{% extends 'main/layout.html' %}
{% block title %}Public Lists{% endblock %}

{% block main %}
<h1 class="p-3 border-bottom">All Lists</h1>
{% if lists %}
<div class="container-fluid">
    <table class='table ph-3 bg-light table-striped'>
        <thead>
            <tr>
            <th scope="col">List Name</th>
            <th scope="col">User</th>
            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
                <tr class='p-3 align-middle me-auto'>
                    <td class='name pt-3 pb-3'><a href="/list/{{ list.id }}">{{ list.title }}</a></td>
                    <td class='user'><a href="/user/{{ list.user_id }}">{{ list.user.username }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    {% if querying %}
        <p>No lists matched your query.<p>
    {% else %}
        <p>You have no lists yet.</p>
    {% endif %}
{% endif %}
{% endblock %}