{% extends 'main/layout.html' %}
{% block title %}Public Lists{% endblock %}

{% block main %}
<h1>Public Lists</h1>
{% if lists %}
<table class='table ph-3 bg-light table-striped'>
    <thead>
        <tr>
          <th scope="col">List Name</th>
          <th scope="col">User</th>
        </tr>
    </thead>
    <tbody>
        {% for list in lists %}
            <tr class='p-3'>
                <td class='name'><a href="/list/{{ list.id }}">{{ list.title }}</a></td>
                <td class='user'><a href="/user/{{ list.user_id }}">{{ list.user.username }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>You have no lists yet.</p>
{% endif %}
{% endblock %}